* {
    margin: 0;
    pading: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background: #ee1a1a;
    height: 1.2rem;
    display: flex;
}

.header-left,.header-middle,.header-right {
    flex: 1;
    text-align: center;
    line-height: 1.2rem;
    font-size: .5rem;
    color: #fff;
}