<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <form action="">
            add: <input type="text" v-model="inputTxt">
            <button @click.prevent="handleAdd">add</button>
            <button @click.prevent="handleReset">reset</button>
        </form>
        <ul>
            <li v-for="(item, key) in obj">{{item}} —— <button @click="handleRemove(key)">remove</button></li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                obj: {},
                count: 0,
                inputTxt: ''
            },
            mounted () {
                if (localStorage.length !== 0) {
                    this.obj = localStorage;
                    for (const index in this.obj) {
                        this.count = this.obj.length;
                    }
                }
            },
            methods: {
                handleAdd () {
                    if (this.inputTxt !== '') {
                      localStorage.setItem(this.count, this.inputTxt);
                      this.obj = localStorage;
                      this.count++;
                      this.inputTxt = '';
                    }
                },
                handleRemove (key) {
                    let newObj = {};
                    localStorage.removeItem(key);
                    for (const item in localStorage) {
                      if (localStorage.hasOwnProperty(item)) {
                        newObj[item] = localStorage[item];
                        console.log(newObj[item]);
                      }
                    }
                    this.obj = newObj;
                },
                handleReset () {
                  localStorage.clear();
                  this.obj = {};
                  this.count = 0;
                }
            }
        })
    </script>
</body>
</html>